.backgroundContainer {
  /* display: flex; */
  width: 100vw;
  height: 70vh;
  text-align: center;
  background-size: cover;
  height: 70vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  width: 90%;
  /* margin: auto 0; */
}

.container {
  display: flex;
  width: 100vh;
  margin-top: 1vh;
}

.row {
  justify-content: center;
}
.col-md-4 {
  width: 35vh;
}

.navContainer {
  width: 100%;
}

.my-alert {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.my-alert2 {
  @extend .my-alert;
  background: rgb(255, 255, 143);
}

.my-alert p {
  margin-bottom: 0;
}
