.backContainer {
  /* display: flex; */
  width: 100vw;
  height: 50vh;
  text-align: center;
  background-size: cover;

  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.imgContainer {
  width: 70%;
  /* margin: auto 0; */
}
